.select-bank-details {
	background: #FFFFFF;
	border: 1px solid #E4E5E7;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 15px;
	width: 330px;
	img {
		width: unset !important;
	}
	.label-text {
		font-weight: 500;
		font-size: 12px;
		color: #202124;
		line-height: 15px;
		margin-bottom: 6px;
	}
	.select-bank-accont-dropdown {
		margin-bottom: 15px;
		position: relative;
		input {
			background: #FFFFFF;
			border: 1px solid #BDC1C6;
			box-sizing: border-box;
			border-radius: 4px;
			padding: 7px 10px;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			height: 34px;
			outline: 0;
			width: 100%;
			&::placeholder {
				color: #BDC1C6;
			}
			&:focus {
				border: 1px solid #9A7834 !important;
			}
		}
		.selected-item {
			background: #FFFFFF;
			border: 1px solid #9A7834;
			box-sizing: border-box;
			border-radius: 4px;
			height: 34px;
			display: flex;
			align-items: center;
			padding: 5px 10px;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			color: #202124;
			cursor: pointer;
			img {
				position: absolute;
				right: 10px;
				top: 14px;
				width: unset !important;
			}
			&:hover {
				background: #FFFBEA;
			}
		}
		.dropdowns-item-container {
			position: absolute;
			background: #FFFFFF;
			box-shadow: 0px 3px 5px rgba(32, 33, 36, 0.2), 0px 1px 2px rgba(32, 33, 36, 0.1);
			border-radius: 4px;
			width: 100%;
			top: 34px;
			padding: 4px;
			z-index: 1;
			display: none;
			.list-item {
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				color: #5F6368;
				padding: 7px;
				border-radius: 4px;
				cursor: pointer;
				&:hover {
					background: #FFFBEA;
					color: #9A7834;
				}
			}
			.list-item.selected {
				background: #FFFBEA;
				color: #9A7834;
			}
		}
	}
	.details-of-account {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		.left-title {
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
			color: #5F6368;
			width: 45%;
		}
		.right-title {
			font-weight: 600;
			font-size: 12px;
			line-height: 15px;
			color: #5F6368;
			width: 55%;
		}
	}
	.account-debited-table {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
		margin-bottom: 10px;
		border-bottom: 1px solid #E4E5E7;
		.title {
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
		}
		.price-debited {
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
			color: #5F6368;
		}
	}
	.actions-btn {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.confirm-btn {
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			color: #9A7834;
			border: 1px solid #DBD09C;
			outline: 0;
			background: transparent;
			display: inline-flex;
			align-items: center;
			padding: 10px 10px;
			border-radius: 4px;
			&:hover {
				background: rgba(154, 120, 52, 0.19);
				border-radius: 4px;
				border: 1px solid transparent;
			}
			img {
				margin-left: 6px;
			}
			.active-img {
				display: none;
			}
		}
		.confirm-btn.selected-click {
			background: linear-gradient(180deg, #B79C4A 0%, #8B6925 100%) !important;
			border: 0px solid transparent !important;
			color: #FFFFFF !important;
			.unactive-img {
				display: none;
			}
			.active-img {
				display: block;
			}
		}
		.cancel-btn {
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			color: #3C4043;
			background: #FFFFFF;
			border: 1px solid #BDC1C6;
			box-sizing: border-box;
			border-radius: 4px;
			padding: 10px;
			margin: 10px 0 0 0;
			display: inline-flex;
			width: auto;
			&:hover {
				background: #EFF0F1;
				border-radius: 4px;
				border: 1px solid transparent;
			}
		}
	}
	.radio-button-section-info {
		margin: 20px 0 30px 0px;
		.heding-text {
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			color: #202124;
			margin-bottom: 12px;
		}
		.radio-block-data {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 12px;
			.balance-info {
				font-weight: normal;
				font-size: 12px;
				line-height: 15px;
				color: #5F6368;
			}
		}
	}
	.actions-paynow-statement {
		display: flex;
		align-items: center;
		margin-bottom: 12px;
		.paynow {
			display: inline-flex;
			align-items: center;
			cursor: pointer;
			margin-right: 20px;
			padding: 10px 10px;
			border-radius: 4px;
			border: 1px solid #DBD09C;
			.active-img {
				display: none;
			}
			&:hover {
				background: rgba(154, 120, 52, 0.19);
				border-radius: 4px;
				border: 1px solid transparent;
			}
			.action-title {
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				color: #9A7834 !important;
				margin-right: 7px;
			}
		}
		.paynow.selected-click {
			background: linear-gradient(180deg, #B79C4A 0%, #8B6925 100%) !important;
			border: 0px solid transparent !important;
			.action-title {
				color: #FFFFFF !important;
			}
			.unactive-img {
				display: none;
			}
			.active-img {
				display: inline-block;
			}
		}
	}
	.schedule-date {
		display: flex;
		align-items: center;
		padding-top: 10px;
		border-top: 1px solid #E4E5E7;
		cursor: pointer;
		padding: 10px 10px;
		border-radius: 4px;
		border: 1px solid #DBD09C;
		pointer-events: none;
		.active-img {
			display: none;
		}
		&:hover {
			background: rgba(154, 120, 52, 0.19);
			border-radius: 4px;
			border: 1px solid transparent;
		}
		.title {
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			color: #9A7834;
			padding-left: 10px;
		}
	}
	.schedule-date.selected-click {
		.unactive-img {
			display: none;
		}
		.active-img {
			display: block;
		}
		background: linear-gradient(180deg, #B79C4A 0%, #8B6925 100%) !important;
		border: 0px solid transparent !important;
		color: #FFFFFF !important;
	}
}
.searchAssist-kore-chat-window.search-container.conversation {
	#searchChatContainer {
		.messageBubble {
			.botMessage {
				.select-bank-details {
					.schedule-date {
						span.title {
							color: #9A7834;
						}
					}
					.schedule-date.selected-click {
						span.title {
							border: 0px solid transparent !important;
							color: #FFFFFF !important;
						}
					}
				}
			}
		}
	}
}
