/* Botom Up Banking CSS */
/* Welcome Screen */
.banking-header-sec {
	display: none;
}
.banking {
	.banking-header-sec {
		display: block;
		.elipse-overflow {
			margin-right: 10px;
			cursor: pointer;
			content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/Banking_demo/ellipsis-white.png);
		}
	}
	.searchAssist-kore-chat-window.search-container {
		.box-header {
			display: none;
		}
		.banking-header-sec {
			background: #9A7834;
			box-shadow: inset 0px -1px 0px #e4e5e7;
			border-radius: 6px 6px 0px 0px;
			height: 60px;
			padding: 10px 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.titles-logo {
				.main-heading-logo {
					font-weight: bold;
					font-size: 18px;
					line-height: 22px;
					color: #FFFFFF;
				}
				.small-heading-logo {
					font-weight: 500;
					font-size: 12px;
					line-height: 15px;
					color: #FFED96;
					padding-left: 6px;
				}
			}
			.righ-side-actions {
				.close-icon {
					cursor: pointer;
				}
			}
		}
	}
	#conversation-container {
		.banking-header-sec {
			background: #9A7834;
			box-shadow: inset 0px -1px 0px #e4e5e7;
			border-radius: 6px 6px 0px 0px;
			height: 60px;
			padding: 10px 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.titles-logo {
				.main-heading-logo {
					font-weight: bold;
					font-size: 18px;
					line-height: 22px;
					color: #FFFFFF;
				}
				.small-heading-logo {
					font-weight: 500;
					font-size: 12px;
					line-height: 15px;
					color: #FFED96;
					padding-left: 6px;
				}
			}
			.righ-side-actions {
				.close-icon {
					cursor: pointer;
				}
			}
		}
		.conversation-title {
			height: 60px !important;
			.custom-header-container-left.searchAssist {
				display: none;
			}
			.close-conv {
				display: none;
			}
		}
	}
	.default-data-show-not-loaded {
		display: none;
	}
	.searchAssist-kore-chat-window {
		.associated-filter-count {
			color: rgb(185, 185, 185);
			float: right;
		}
	}
	.banking-default-welcome-screen {
		display: block;
	}
	.widget-icon {
		left: 20px;
	}
	.searchAssist-kore-chat-window.search-container.conversation {
		#searchChatContainer {
			padding: 24px 20px;
			.messageBubble {
				.userMessage {
					padding: 10px 15px;
					max-width: 75%;
					margin-bottom: 12px;
					background: #FFFBEA !important;
					border: 1px solid #806D16 !important;
					box-sizing: border-box;
					border-radius: 8px;
					span {
						font-weight: normal;
						font-size: 14px;
						line-height: 17px;
						color: #161620 !important;
					}
				}
				.messageBubble-content {
					.botImg {
						bottom: auto;
						top: 5px;
						img {
							width: 23px;
							height: 23px;
						}
					}
				}
				.botMessage {
					background: #FFFFFF !important;
					border: 1px solid #E4E5E7 !important;
					box-sizing: border-box;
					border-radius: 8px;
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
					color: #161620 !important;
					max-width: 80%;
					min-height: auto;
					padding: 11px 14px 11px 14px;
					margin-bottom: 12px;
					margin-left: 38px;
				}
				.botMessage.no-border-data {
					border: none !important;
				}
			}
		}
	}
	.conversation-body {
		.search-container.conversation {
			#searchChatContainer {
				padding: 24px 20px;
				.messageBubble {
					.userMessage {
						padding: 10px 15px;
						max-width: 75%;
						margin-bottom: 12px;
						background: #FFFBEA !important;
						border: 1px solid #806D16 !important;
						box-sizing: border-box;
						border-radius: 8px;
						span {
							font-weight: normal;
							font-size: 14px;
							line-height: 17px;
							color: #161620 !important;
						}
					}
					.messageBubble-content {
						.botImg {
							bottom: auto;
							top: 5px;
							img {
								width: 23px;
								height: 23px;
							}
						}
					}
					.botMessage {
						background: #FFFFFF !important;
						border: 1px solid #E4E5E7 !important;
						box-sizing: border-box;
						border-radius: 8px;
						font-weight: normal;
						font-size: 14px;
						line-height: 17px;
						color: #161620 !important;
						max-width: 80%;
						min-height: auto;
						padding: 11px 14px 11px 14px;
						margin-bottom: 12px;
						margin-left: 38px;
					}
					.botMessage.no-border-data {
						border: none !important;
					}
				}
			}
		}
	}
}

.banking-default-welcome-screen {
	display: none;
	max-height: calc(100vh - 200px);
	padding: 0;
	background: #FFFFFF;
	bottom: 40px;
	.welcome-message {
		background: #E4DDCF;
		padding: 15px 20px 20px 20px;
		.bold-text {
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
		}
		.text-info {
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
			padding-bottom: 15px;
		}
		.okay-thanks-parent {
			height: 20px;
			text-align: right;
		}
		.okay-thanks {
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			float: right;
			color: #9A7834;
			cursor: pointer;
		}
	}
	.default-message-bubble-banking {
		position: relative;
		display: flex;
		padding: 20px;
		max-height: calc(100vh - 350px);
		.text-content-data {
			padding-left: 20px;
			.text-block {
				border: 1px solid #BDC1C6;
				box-sizing: border-box;
				border-radius: 4px;
				padding: 10px 15px;
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				color: #202124;
				width: 304px;
				margin-bottom: 15px;
			}
			.buttons-block {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 6px;
				.text-search-icon {
					background: #FFFFFF;
					border: 1px solid #BDC1C6;
					box-sizing: border-box;
					border-radius: 4px;
					display: inline-flex;
					padding: 9px;
					margin: 0px 14px 10px 0px;
					cursor: pointer;
					.text-search {
						font-weight: normal;
						font-size: 14px;
						line-height: 17px;
						color: #161620;
						padding-left: 10px;
					}
					.text-search-promotion {
						font-weight: normal;
						font-size: 14px;
						line-height: 17px;
						color: #161620;
					}
				}
			}
			.main-heading {
				font-weight: 600;
				font-size: 12px;
				line-height: 15px;
				color: #161620;
				margin-bottom: 10px;
			}
		}
	}
}

/* seimens*/
.siemens {
	#conversation-container {
		.conversation-title {
			.custom-header-container-left.searchAssist {
				display: none;
			}
			.close-conv {
				display: none;
			}
		}
	}
}

.banking {
	.widget-icon {
		img.for-banking {
			display: block;
		}
		img.for-scm {
			display: none;
		}
	}
	.scroll-top-container {
		bottom: 109px !important;
		.title-scroll-top {
			background: #FFFBEA;
			border: 1px solid #9A7834;
			box-sizing: border-box;
			border-radius: 10px;
			font-weight: 500;
			font-size: 10px;
			line-height: 12px;
			color: #9A7834;
			padding: 3px 10px;
			img {
				content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/Banking_demo/scroll-top.svg);
			}
		}
	}
	.skelton-load-img {
		.default-skelton {
			display: none;
		}
		.banking-siemens-skelton {
			display: block;
			position: relative;
			top: -32px;
		}
	}
}
.banking.demo {
	.searchAssist-kore-chat-window {
		.show-all-results-outer-wrap {
			top: 63px;
			height: calc(100% - 169px);
		}
	}
}
.skelton-load-img {
	.banking-siemens-skelton {
		display: none;
	}
}

.siemens {
	.widget-icon {
		img.for-banking {
			display: none;
		}
		img.for-scm {
			display: block;
		}
	}
	.skelton-load-img {
		.default-skelton {
			display: none;
		}
		.banking-siemens-skelton {
			display: block;
		}
	}
}

/* INtro Text Banking STyles */
/* //// Radio Buttons Bank */
/* //// */
.bank-kr-sg-radiobutton {
	display: inline-flex;
	padding: 0 10px 0 0 !important;
	position: relative;
	.radio-custom {
		opacity: 0;
		position: absolute;
		cursor: pointer;
		margin: 0;
		height: auto;
		+ {
			.radio-custom-label {
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
				position: relative;
				color: #202124;
				margin: 0;
				font-weight: normal;
				font-size: 12px;
				line-height: 15px;
				padding-left: 28px;
				&::before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 16px;
					height: 16px;
					top: 0;
					padding: 0;
					margin-right: 12px;
					text-align: center;
					border-radius: 2px;
					border: solid 1px #9A7834;
					background-color: #FFFFFF;
					margin-top: 0;
					border-radius: 100px;
					left: 0;
					position: absolute;
					top: -2px;
				}
			}
		}
		&:hover {
			&:not([disabled]) {
				&:checked {
					+ {
						.radio-custom-label {
							color: #9A7834;
							&::before {
								border: solid 1px #9A7834;
							}
						}
					}
				}
				+ {
					.radio-custom-label {
						color: #9A7834;
						&::before {
							border: solid 1px #9A7834;
						}
					}
				}
			}
		}
		&:checked {
			+ {
				.radio-custom-label {
					&::before {
						content: "";
						color: #FFFFFF;
						font-size: 12px;
						background-color: #9A7834;
						border: 1px solid #9A7834;
						box-shadow: inset 0 0 0 4px #FFFFFF;
					}
				}
			}
			&:focus {
				+ {
					.radio-custom-label {
						color: #202124;
					}
				}
			}
			&:disabled {
				+ {
					.radio-custom-label {
						color: #dde1e7;
						&::before {
							border: solid 1px #a6dce1;
							box-shadow: inset 0 0 0 4px #FFFFFF;
							background-color: #a6dce1;
						}
					}
				}
			}
		}
		&:disabled {
			+ {
				.radio-custom-label {
					color: #dde1e7;
					&::before {
						border: solid 1px #a6dce1;
					}
				}
			}
		}
		&:focus {
			+ {
				.radio-custom-label {
					color: #9A7834;
					&::before {
						border: 1px solid #9A7834;
					}
				}
			}
		}
	}
}
.banking.bankUserLogined.sdk-top-down-interface {
	.topdown-search-main-container {
		.all-result-container {
			.full-results-data-container {
				.filters-sec {
					.filters-inner-content {
						max-height: calc(100vh - 400px);
					}
				}
			}
		}
	}
}
.banking {
  .filters-added-data{
    .filters-reset{
      display: none;
    }
  }
	.searchAssist-kore-chat-window.search-container {
		.microphoneBtn {
			.notRecordingMicrophone {
				.microphone {
					width: 14px;
					height: 14px;
					top: 2px;
					position: relative;
					background-image: url("https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/Banking_demo/speaker.svg");
				}
			}
			.recordingMicrophone {
				.microphone {
					width: 14px;
					height: 14px;
					top: 2px;
					position: relative;
					background-image: url("https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/Banking_demo/speaker-active.svg");
				}
			}
		}
		.sdkFooterIcon.microphoneBtn {
			left: -6px;
		}
	}
	.intro-text-container {
		display: flex;
		align-items: end;
		width: 250px;
		.into-text-details {
			display: inline-block;
			margin-left: 8px;
			.text-data {
				box-sizing: border-box;
				box-shadow: 0px 4px 12px rgba(32, 33, 36, 0.12);
				border-radius: 4px;
				background: #FFFFFF;
				border: 0px solid #9A7834;
				box-sizing: border-box;
				border-radius: 4px;
				padding: 8px;
				font-weight: normal;
				font-size: 12px;
				line-height: 15px;
				color: #000000;
				width: auto;
				display: inline-block;
				margin-top: 5px;
				position: relative;
				float: right;
				box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
				&:last-child {
					&::before {
						content: "";
						position: absolute;
						width: 12px;
						height: 12px;
						right: -7px;
						border: 1px solid #9A7834;
						transform: rotate(45deg);
						background: #fff;
						top: 9px;
						border-left: 0;
						border-bottom: 0;
						visibility: hidden;
					}
				}
			}
		}
	}
}
.setDefaultSearchTemplate1.banking {
	.searchAssist-kore-chat-window.kore-chat-window.search-container.overRidePosition {
		bottom: 106px !important;
		left: auto !important;
		right: 28px !important;
		top: auto !important;
	}
}
