.sa-poweredbykore,.sa-clear-chat{
    display: none;
}
.sa-knowledgeai-sdk-body {
    .searchAssist-kore-chat-window {
        &.search-container {
            max-height: calc(100% - 37px);
            right: 87px !important;
            width: 750px !important;
            box-shadow: none !important;
            background: transparent !important;
            bottom: 40px !important;

            .sdkFooterIcon {
                &.microphoneBtn {
                    bottom: -12px !important;
                    .notRecordingMicrophone {
                        .microphone {
                            background-image: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-microphone.svg);
                        }
                    }
                }
            }

            .box-header {
                display: none !important;
            }

            .search {
                padding: 0 35px 0 16px;
                width: 622px;
                height: 49px;
            }

            .search-bar {
                box-shadow: none !important;
                left: 52px;
                width: 622px;
                height: 49px;
                margin: 0px 0px;

                #suggestion {
                    box-shadow: none !important;
                }

                .search-button {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #777A80;
                    padding-left: 30px;
                    margin-top: 8px;

                    &:before {
                        content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-send-icon.svg);
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        left: -7px;
                        top: 10px;
                    }
                }
            }

            &.conversation {
                height: auto;

                .greetingMsg {
                    display: none !important;
                }

                #searchChatContainer {
                    height: auto;
                    max-height: calc(100vh - 121px);
                    padding: 0px 0px 34px 20px;
                    .history-chat-tag-info {
                        display: none !important;
                    }

                    .messageBubble {
                        .botMessage {
                            align-items: center;
                            padding: 8px 16px;
                            gap: 8px;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 24px;
                            color: #1D2939;
                            background: #FFFFFF;
                            box-shadow: inset 3px 0px 0px #FEC412;
                            border-radius: 0px 8px 8px 8px;
                            margin-bottom: 5px;
                            margin-top: 11px;
                        }
                    }
                }
            }

            #searchBox {
                background-color: transparent !important;
                display: block;

                .parent-data-scroll {
                    padding-bottom: 54px;
                }

                .parent-search-live-auto-suggesition {
                    display: none !important;
                }
            }

            &.active {
                #searchBox {
                    background-color: transparent !important;
                }
                .sa-clear-chat{
                    position: absolute;
                    right: -95px;
                    bottom: 16px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #777A80;
                    cursor: pointer;
                }
            }
            .sa-poweredbykore{
                display: block;
                position: absolute;
                bottom: -31px;
                right: 0px;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #6B7280;
                img{
                    padding-left: 7px;
                }
            }
            
        }

        .messageBubble {
            .userMessage {
                background: #FFFFFF;
                border-radius: 0px 8px 8px 8px;
                align-items: start;
                padding: 8px 16px;
                gap: 8px;
                filter: drop-shadow(0px 2px 5px rgba(32, 33, 36, 0.09));
                float: left;
                margin-left: 30px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #1D2939;
                margin-top: 10px;
                
                &:before {
                    content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-profile-icon.svg);
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    left: -49px;
                    top: 0px;
                }

                .time-info {
                    display: none !important;
                }
            }

            .messageBubble-content {
                .botImg {
                    bottom: 0px;
                    left: -19px;
                    width: 40px;
                    height: 40px;
                    content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-sa-icon.svg);
                }

                .botMessage {
                    background: #FAF0D0;
                    border-radius: 0px 8px 8px 8px;
                    align-items: center;
                    padding: 8px 16px;
                    gap: 8px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: #1D2939;
                }
            }
        }

        .parent-search-live-auto-suggesition {
            display: none;
        }

        .live-seach-auto-suggestion-parent {
            .search-body{
                display: none !important;
            }

            #autoSuggestionContainer{
                display: none !important;
            }
            
        }
        .sinnpet-feedback-template-assiatance-temp {
            .temp-feed-back-form {
                .temp-feed-back-ans-tags {
                    .temp-feed-back-ans-tag-btn{
                        margin-right: 6px;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 6px 15px 6px 10px;
                        gap: 10px;
                        line-height: 17px;
                        img{
                            display: none;
                        }
                        &.active{
                            border: 2px solid #0D6EFD;
                            img{
                                display: inline-flex;
                                margin-bottom: -3px;
                            }
                        }
                        &.outdated-tag-btn{
                            display: none;
                        }
                        &.few-results-tag-btn{
                            display: none;
                        }
                    }
                }
            }
            .snippet-bg-blur{
                    /* display: none; */
                    width: 100% !important;
                    height: 100%;
                    right: 0px;
                    bottom: 0px;   
                    backdrop-filter: blur(6px);
                    background: rgba(255, 255, 255, 0.01);
            }
            &#snippet-feedback-template{
                .temp-feed-back-form {
                    right: 28px;
                    bottom: 88px;
                    width: 446px;
                    .temp-feed-back-ans-tags{
                        &.few-results-tag-btn{
                            display: none;
                        }
                    }
                    .temp-feed-back-footer-btn-secondary {
                        width: 50%;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #202124;
                        align-items: center;
                        padding: 7px 10px;
                        gap: 5px;
                        width: 58px;
                        border: transparent;
                        height: 34px;
                    }
                    .temp-feed-back-footer-btn-primary {
                        width: 50%;
                        align-items: center;
                        padding: 7px 20px;
                        width: 87px;
                        height: 34px;
                        background: #FEC412;
                        border-radius: 4px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #121314;
                    }
                    .desktop-view-submit-btn{
                        display: block;
                    }
                    .mobile-view-submit-btn{
                        display: none;
                    }
                }
            }
        }
    }

    .widget-icon {
        img {
            display: none;
        }
    }

    .default-data-show-not-loaded {
        height: inherit !important;
        background: transparent !important;
        padding: 13px;
        bottom: 31px;
        .default-suggestions-content {
            .pl-5 {
                padding-left: 5px !important;
                display: inline;
            }

            .suggestion-text {
                padding: 8px 14px;
                gap: 8px;
                background: #FFFFFF;
                border: 1px solid #D0D5DD;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #3C4043;

                img {
                    display: none !important;
                }

                span {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #3C4043;
                }
            }
        }

        .defalut-message-babble {
            display: none !important;
        }
    }

    &.setDefaultSearchTemplate {
        .searchAssist-kore-chat-window {
            &.search-container {
                right: 155px !important;
                width: 673px !important;
                box-shadow: none !important;
                background: transparent !important;
            }
        }
    }

    .final-results-container {
        .show-more-results-block {
            margin-right: 0px;
            .show-more-results-btn {
                background: #FAF0D0;
                color: #806D16;
            }
        }

        .messageBubble {
            &.show-info-text-snippet {
                position: absolute !important;
                margin-top: -26px;

                .messageBubble-content {
                    content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-sa-icon.svg);
                    width: 40px;
                    height: 40px;
                    left: -19px;
                }
            }
        }

        .snippet-margin {
            margin-top: 15px;
        }

        .search-temp-one {
            background: #FFFFFF;
            box-shadow: inset 3px 0px 0px #FEC412;
            border-radius: 0px 8px 8px 8px;
            filter: drop-shadow(1px 3px 6px rgba(32, 33, 36, 0.12));
            border: 0px;
            border-color: transparent;
            &.active-citation-snippet {
                .citation-data-desc {
                    .snippet-answer-fragment-block {
                        .sub-fragment {
                            padding-right: 3px;
                        }
                    }
                }
            }
            .temp-footer-block {
                .btn-link {
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #806D16;
                    .bot-bg-purple {
                        background: transparent; 
                        border-radius: 0px; 
                        padding: 0px 5px 0px 0px; 
                        display: flex;
                        margin-right: 0px;
                        img{
                            content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-answered-by-ai-icon.svg);
                        }
                   }
                }
                .temp-footer {
                    .temp-fotter-actions {
                        height: 40px;
                        .snippet-like-img{
                            content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-thumbs-up.svg);
                            &:hover {
                                content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/snippet_imgs/like-green.svg);
                            }
                            &.active {
                                content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-thumbs-up.gif);
                                width: 40px;
                                height: 40px;
                                    margin-right: 0px;
                            }
                        }
                        .snippet-dislike-img{
                            content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-thumbs-down.svg);
                            &:hover {
                                content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/snippet_imgs/dislike-red.svg);
                            }
                        }
                    }
                }
            }
        }
    }

    .show-all-results {
        display: none !important;
    }

    .typingIndicatorContent {
        width: 140px;
        left: -31px;

        .typingIndicator {
            background: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-sa-icon.svg);
            width: 40px;
            height: 40px;
        }
    }
    .feedback-template-positions {
        &.if-live-search-top-down {
            height: 61px;
            .helpfull-title{
                color: #806D16;
            }
            img{
                &.thumb-up{
                    &.thumbs-up-top-down-black{
                        content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-thumbs-up.svg);
                    }
                }
                &.thumb-down{
                    &.thumbs-down-top-down-black{
                        content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-thumbs-down.svg);
                    }
                }
                &.thumbs-up-top-down-blue {
                    content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/knowledge_ai_imgs/k-ai-thumbs-up.gif);
                    width: 40px;
                    height: 40px;
                    margin-right: 0px;
                }
            }
        }
    }
}
@media (max-width:768px) {
    .sa-knowledgeai-sdk-body {
        .searchAssist-kore-chat-window {
            .typingIndicatorContent {
                width: 140px;
                left: -7px;
            }
            &.search-container {
                max-height: calc(100% - 119px);
                bottom: 40px !important;
                right: 0px !important;
                left: 0px !important;
                width: 100% !important;
                box-shadow: none !important;
                background: transparent !important;
                padding-left: 24px;
                padding-right: 24px;
                .search {
                    padding: 0 35px 0 16px;
                    width: 100%;
                    height: 49px;
                }
                
                .search-bar {
                    right: 24px;
                    left: 24px;
                    width: calc(100% - 48px);
                    margin: auto;
                    z-index: 1;
                }
                .sa-poweredbykore{
                    right: 24px;
                }
                &.active {
                    .sa-clear-chat{
                        display: none !important;
                    }
                }
                &.conversation {
                    #searchChatContainer {
                        height: auto;
                        max-height: calc(100vh - 169px);
                        padding: 0px 0px 40px 20px;
                    }
                }
            }
            #snippet-feedback-template{
                &.sinnpet-feedback-template-assiatance-temp {
                    .temp-feed-back-form {
                        right: 0px;
                        bottom: 88px;
                        left: 0px;
                        width: calc(100% - 48px) !important;
                    }
                    .snippet-bg-blur {
                        display: block;
                        backdrop-filter: blur(6px);
                        background: rgba(255, 255, 255, 0.01);
                        width: 100% !important;
                        right: 0px;
                    }
                }
            }
        }
        &.setDefaultSearchTemplate {
            .searchAssist-kore-chat-window {
                &.search-container {
                    max-height: calc(100% - 119px);
                    bottom: 40px !important;
                    right: 0px !important;
                    left: 0px !important;
                    width: 100% !important;
                    box-shadow: none !important;
                    background: transparent !important;
                    padding-left: 24px;
                    padding-right: 24px;
                }
            }
        }
        .default-data-show-not-loaded {
            padding: 13px 0px;
            z-index: 7;
            .default-suggestions-content {
                 padding-left: 0px;
                 .pl-5 {
                    padding-left: 0px !important;
                 }
            }
        }
    }
}
@media (max-width:768px) and (min-width:481px) {
    .sa-knowledgeai-sdk-body {
        #snippet-feedback-template {
            &.sinnpet-feedback-template-assiatance-temp {
                .temp-feed-back-form {
                    .temp-feed-back-ans-tags {
                        // .other-tag-btn {
                        //     display: none;
                        // }
                    }

                    .temp-feed-back-footer-btn-secondary {
                        width: 100%;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #202124;
                        align-items: center;
                        padding: 7px 10px;
                        gap: 5px;
                        border: transparent;
                        height: 34px;
                    }

                    .temp-feed-back-footer-btn-primary {
                        width: 100%;
                        align-items: center;
                        padding: 7px 20px;
                        height: 34px;
                        background: #FEC412;
                        border-radius: 4px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #121314;
                        &.desktop-view-submit-btn {
                            display: block;
                        }
                        
                        &.mobile-view-submit-btn {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:480px) and (min-width:363px) {
    .sa-knowledgeai-sdk-body {
        #snippet-feedback-template {
            &.sinnpet-feedback-template-assiatance-temp {
                .temp-feed-back-form {
                    .temp-feed-back-ans-tags {
                        // .other-tag-btn {
                        //     display: none;
                        // }
                    }

                    .temp-feed-back-footer-btn-secondary {
                        width: 100%;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #202124;
                        align-items: center;
                        padding: 7px 10px;
                        gap: 5px;
                        border: transparent;
                        height: 34px;
                    }

                    .temp-feed-back-footer-btn-primary {
                        width: 100%;
                        align-items: center;
                        padding: 7px 20px;
                        height: 34px;
                        background: #FEC412;
                        border-radius: 4px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #121314;
                        &.desktop-view-submit-btn {
                            display: block;
                        }
                        
                        &.mobile-view-submit-btn {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:362px) {
    .sa-knowledgeai-sdk-body {
        #snippet-feedback-template {
            &.sinnpet-feedback-template-assiatance-temp {
                .temp-feed-back-form {
                    .temp-feed-back-ans-tags {
                        // .other-tag-btn {
                        //     display: none;
                        // }
                    }
                    .temp-feed-back-footer-block{
                        display:block;
                    }
                    .temp-feed-back-footer-btn-secondary {
                        width: 100%;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #202124;
                        align-items: center;
                        padding: 7px 10px;
                        gap: 5px;
                        border: transparent;
                        height: 34px;
                    }

                    .temp-feed-back-footer-btn-primary {
                        width: 100%;
                        align-items: center;
                        padding: 7px 20px;
                        height: 34px;
                        background: #FEC412;
                        border-radius: 4px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #121314;
                        &.desktop-view-submit-btn {
                            display: none;
                        }
                        
                        &.mobile-view-submit-btn {
                            display: block;
                            margin-left: 0px;
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:426px) and (min-width:322px) {
    .sa-knowledgeai-sdk-body {
        .final-results-container {
            .snippet-margin {
                width: 89% !important;
                margin-left: 30px;
            }
        }
    }
}
@media (max-width:321px) {
    .sa-knowledgeai-sdk-body {
        .final-results-container {
            .snippet-margin {
                width: 86% !important;
                margin-left: 30px;
            }
        }
    }
}