
.siemens {
	.KoreSearchAssistant {
		display: none;
	}
	.siemens-item {
		display: block !important;
	}
	.dem-screen-containers {
		.banner-home {
			height: 400px;
			.background-img {
				height: 400px;
			}
			.banner-text {
				left: 80px;
				right: auto;
				display: none;
				.banner-title {
					font-weight: bold;
					font-size: 32px;
					color: #fff;
					display: block;
					margin-bottom: 7px;
					width: 600px;
				}
				.banner-desc {
					display: none;
				}
				.learn-more {
					background: transparent;
					border-radius: 4px;
					padding: 7px 20px;
					text-decoration: none !important;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					color: #FFFFFF;
					display: inline-block;
					cursor: pointer;
					transition: 0.2s all ease;
					border: 1px solid #fff;
					margin-top: 15px;
					&:hover {
						color: #fff;
						background: #722789 !important;
						border-color: #722789 !important;
					}
				}
			}
		}
		.header-sec {
			padding: 0 25px 0 40px;
			height: 73px;
			box-shadow: none;
			.logo-with-img {
				width: 120px;
				.logo-bg {
					.siemens-item {
						width: 120px;
					}
					background: transparent !important;
					opacity: 1;
					width: auto;
					height: auto;
				}
				.logo-name {
					left: 32px;
					color: #4462B7;
				}
			}
			.action-header {
				.action-name {
					padding: 5px 0;
					cursor: pointer;
					margin: 0 24px;
					position: relative;
					text-decoration: none !important;
					font-size: 16px;
					line-height: 20px;
					color: #202124;
					font-weight: norma;
				}
				.action-name.active-name {
					font-weight: 600;
					&::before {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						background: #202124;
						bottom: -3px;
					}
				}
			}
			.name-with-profile {
				.user-name {
					font-weight: normal;
					font-size: 16px;
					line-height: 20px;
					color: #202124;
					margin: 0;
				}
			}
		}
		.card-section-bottom {
			.left-sec {
				.inner-card {
					border: 1px solid #4462B7;
					background: #fde7f7 !important;
				}
			}
		}
		.right-sec {
			.top-stories {
				border: 1px solid #4462B7;
				background: #fde7f7 !important;
				background: transparent;
			}
		}
		.blue-banner-container {
			background: linear-gradient( 91.27deg,#4462B7 0.18%,rgba(255,255,255,0) 77.08%), rgba(68,98,183,0.5);
		}
	}
	.dem-screen-containers.siemens-container {
		display: block !important;
		display: block !important;
		padding-top: 73px;
	}
	.dem-screen-containers.belcrop-none {
		display: none !important;
	}
	.siemens-item-none {
		display: none !important;
	}
	.siemens-body-img-section {
		background: no-repeat url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/Siemenss_demo/siemens-banner.jpg) 50% / 100%;
		img {
			vertical-align: top;
			width: 100%;
			opacity: 0;
			height: 52%;
		}
	}
	.start-search-icon-div {
		background: #FFFFFF;
		box-shadow: 0px 4px 12px 2px rgb(32 33 36 / 12%);
		border-radius: 200px;
		padding: 5px;
		display: flex;
		height: 50px;
		align-items: center;
		width: 105px;
		img {
			margin-right: 7px;
			width: 40px;
			height: 40px;
		}
		.scm-label-avt {
			display: block;
		}
		.normal-text {
			font-weight: normal;
			font-size: 10px;
			line-height: 12px;
			color: #5F6368;
			margin-bottom: 3px;
		}
		.bold-text {
			font-weight: 600;
			font-size: 10px;
			line-height: 12px;
			color: #202124;
		}
	}
	.intro-text-container {
		.into-text-details {
			.text-data {
				&:last-child {
					&::before {
						content: "";
						position: absolute;
						width: 12px;
						height: 12px;
						right: -7px;
						border: 1px solid #009999;
						border-bottom: 0;
						border-left: 0;
						transform: rotate(45deg);
						background: #fff;
						top: 9px;
						visibility: visible;
					}
				}
				background: #FFFFFF;
				border: 1px solid #009999 !important;
				box-sizing: border-box;
				border-radius: 4px;
				padding: 8px;
				font-weight: normal;
				font-size: 12px;
				line-height: 15px;
				color: #000000;
				width: auto;
				display: inline-block;
				margin-top: 5px;
				position: relative;
				float: right;
				box-shadow: 0px 4px 12px 2px rgb(32 33 36 / 12%);
			}
			.text-data.withoutarrow {
				&:last-child {
					&::before {
						display: none;
						display: none;
					}
				}
			}
			.text-data.oneLine {
				&:last-child {
					&::before {
						top: 9px;
					}
				}
			}
			.text-data.moreLines {
				&:last-child {
					&::before {
						top: 37%;
					}
				}
			}
			display: inline-block;
			margin-left: 8px;
		}
		display: flex;
		align-items: end;
		width: 250px;
	}
	.second-info-msg {
		margin-bottom: 5px;
	}
	#introText.second-introText {
		.avatar-greeting-msg-close {
			img {
				position: absolute;
				top: -11px;
				right: 21px;
			}
		}
	}
	#introText {
		.avatar-greeting-msg-close {
			img {
				position: absolute;
				top: 27px;
				right: -13px;
			}
			display: block;
			border-radius: 25px;
			cursor: pointer;
			margin-bottom: 10px;
			box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
			visibility: hidden;
			position: absolute;
			right: -26px;
			top: -58px;
		}
	}
	.searchAssist-kore-chat-window {
		.show-all-results{
			float: right;
		}
		.show-all-results-outer-wrap {
			.filter-sec-tab {
				.filter-data {
					.footer-filter {
						.apply-btn {
							background-color: #009999;
						}
					}
				}
			}
		}
		.custom_checkbox.kr-sg-checkbox {
			.checkbox-custom {
				&:hover {
					+ {
						.checkbox-custom-label {
							color: #009999;
						}
					}
					&:not([disabled]) {
						+ {
							.checkbox-custom-label {
								&::before {
									border: solid 1px #009999 !important;
								}
							}
						}
					}
				}
				&:checked {
					+ {
						.checkbox-custom-label {
							&::before {
								background-color: #009999;
								border: solid 1px #009999 !important;
								color: #009999;
							}
						}
					}
				}
			}
		}
		.typingIndicator {
			width: 20px;
			height: 20px;
			line-height: 20px;
			border-radius: 50%;
			font-size: 13.6px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			margin-left: 20px;
			margin-right: 10px;
			background: url('https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/Siemenss_demo/siemens-avatar.svg') no-repeat;
			display: inline-block;
			background-size: 100%;
			margin-bottom: 0px;
		}
		.typingIndicatorContent {
			left: 0;
		}
	}
	.searchAssist-kore-chat-window.search-container.conversation {
		#searchChatContainer {
			.finalResults {
				padding: 0px 0px 6px 38px;
			}
		}
	}
	.default-bot-icon {
		display: none;
	}
	.default-bot-siemen-icon {
		display: block;
	}
	
		.grid-bot-actions-border {
			color: #009999;
			background: #F7FFFF;
			border: 1px solid #009999;
			box-sizing: border-box;
			border-radius: 8px;
			padding: 12px 5px;
			margin-bottom: 15px;
		}
		.title-text-heading {
			padding-left: 5px;
			display: none !important;
		}
	.main-content-title-grid-data.new-grid-search-data.banking-grid-buttons-template {
		.title-box-data {
			width: auto;
			.search-grid-item {
				background: linear-gradient(180deg , #009999 0%, #009999 100%);
				box-shadow: 0px 4px 20px #f7ffff !important;
				border-radius: 4px !important;
				padding: 10px !important;
				color: #FFFFFF !important;
				font-weight: 600 !important;
				font-size: 12px !important;
				line-height: 15px;
				border: 0 !important;
				&:hover {
					background: linear-gradient(180deg , #009999 0%, #009999 100%);
					box-shadow: 0px 4px 20px rgba(183, 156, 74, 0.2) !important;
					border: 0 !important;
				}
				.name-title {
					margin-right: 6px;
				}
			}
		}
	}
	.search-siemens-title {
		display: block;
	}
}
.siemens-snippet-left {
	margin-left: -41px;
}
body.siemens {
	font-family: 'Inter', sans-serif !important;
}
.siemens-item {
	display: none !important;
}
.dem-screen-containers.siemens-container {
	display: none !important;
}
  /* Demo changes 6-8-21 */
/* siemens demo css */
.dem-screen-containers {
	padding-top: 70px;
	.header-sec {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 15px 10px 45px;
		background: #FFFFFF;
		box-shadow: 0px 4px 8px rgba(32,33,36,0.15);
		height: 70px;
		position: fixed;
		width: 100%;
		top: 0px;
		z-index: 2;
		.logo-with-img {
			position: relative;
			width: 5%;
			.logo-bg {
				width: 39px;
				height: 39px;
				background: linear-gradient(136.61deg,#FF784B 14.25%,#FFFFFF 82.89%), #FFF1ED;
				opacity: 0.5;
				border-radius: 100%;
			}
			.logo-name {
				font-weight: 600;
				font-size: 18px;
				line-height: 14px;
				color: #07377F;
				position: absolute;
				left: 18px;
				top: 13px;
			}
		}
		.action-header {
			display: flex;
			align-items: center;
			width: 83%;
			justify-content: center;
			.action-name {
				font-weight: 500;
				font-size: 18px;
				line-height: 20px;
				color: #07377F;
				padding: 5px 0;
				cursor: pointer;
				margin: 0 16px;
				position: relative;
				text-decoration: none !important;
			}
			.action-name.active-name {
				font-weight: bold;
				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					background: #07377F;
					bottom: -20px;
				}
			}
		}
	}
}
.start-search-icon-div {
	position: absolute;
	right: 25px;
	bottom: 25px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 1000;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	background-color: #fff;
	box-shadow: 14px 4px 64px 12px rgb(18 61 101 / 40%), -16px -16px 64px 0 rgb(255 255 255 / 80%), inset -8px -6px 80px 0 rgb(255 255 255 / 18%);
}
.search-container.conversation {
	#searchChatContainer.bgfocus {
		background: #FFFFFF !important;
	}
}
body.siemens {
	font-family: 'Inter', sans-serif !important;
}
.siemens-item {
	display: none !important;
}
.siemens {
	.siemens-item {
		display: block !important;
	}
	.dem-screen-containers {
		.banner-home {
			height: 400px;
			.background-img {
				height: 400px;
			}
			.banner-text {
				left: 80px;
				right: auto;
				display: none;
				.banner-title {
					font-weight: bold;
					font-size: 32px;
					color: #fff;
					display: block;
					margin-bottom: 7px;
					width: 600px;
				}
				.banner-desc {
					display: none;
				}
				.learn-more {
					background: transparent;
					border-radius: 4px;
					padding: 7px 20px;
					text-decoration: none !important;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					color: #FFFFFF;
					display: inline-block;
					cursor: pointer;
					transition: 0.2s all ease;
					border: 1px solid #fff;
					margin-top: 15px;
					&:hover {
						color: #fff;
						background: #722789 !important;
						border-color: #722789 !important;
					}
				}
			}
		}
		.header-sec {
			padding: 0 25px 0 40px;
			height: 73px;
			box-shadow: none;
			.logo-with-img {
				width: 120px;
				.logo-bg {
					.siemens-item {
						width: 120px;
					}
					background: transparent !important;
					opacity: 1;
					width: auto;
					height: auto;
				}
				.logo-name {
					left: 32px;
					color: #4462B7;
				}
			}
			.action-header {
				.action-name {
					padding: 5px 0;
					cursor: pointer;
					margin: 0 24px;
					position: relative;
					text-decoration: none !important;
					font-size: 16px;
					line-height: 20px;
					color: #202124;
					font-weight: norma;
				}
				.action-name.active-name {
					font-weight: 600;
					&::before {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						background: #202124;
						bottom: -3px;
					}
				}
			}
			.name-with-profile {
				.user-name {
					font-weight: normal;
					font-size: 16px;
					line-height: 20px;
					color: #202124;
					margin: 0;
				}
			}
		}
		.card-section-bottom {
			.left-sec {
				.inner-card {
					border: 1px solid #4462B7;
					background: #fde7f7 !important;
				}
			}
		}
		.right-sec {
			.top-stories {
				border: 1px solid #4462B7;
				background: #fde7f7 !important;
				background: transparent;
			}
		}
		.blue-banner-container {
			background: linear-gradient( 91.27deg,#4462B7 0.18%,rgba(255,255,255,0) 77.08%), rgba(68,98,183,0.5);
		}
	}
	.dem-screen-containers.siemens-container {
		display: block !important;
		display: block !important;
		padding-top: 73px;
	}
	.dem-screen-containers.belcrop-none {
		display: none !important;
	}
	.siemens-item-none {
		display: none !important;
	}
	.siemens-body-img-section {
		background: no-repeat url('https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/Siemenss_demo/siemens-banner.jpg') 50% / 100%;
		img {
			vertical-align: top;
			width: 100%;
			opacity: 0;
			height: 52%;
		}
	}
}
.dem-screen-containers.siemens-container {
	display: none !important;
}

/* Filters */
/* //// */
/* Template siemens list templates */
.siemens.sdk-top-down-interface {
	.topdown-search-main-container {
		.search-input-box {
			width: 828px;
			height: 50px;
			padding: 0;
			.search-box-container-data {
				.cancel-search {
					position: absolute;
					right: 152px !important;
					top: 15px;
					z-index: 1;
					cursor: pointer;
					font-weight: 600;
					font-size: 12px;
					line-height: 15px;
					color: #9AA0A6;
					img {
						position: relative;
						top: 5px;
					}
				}
				.search-bar {
					display: inline-block;
					width: 100%;
					height: 100%;
					background: #F8FFFF !important;
					.search-btn-arrow {
						position: absolute;
						z-index: 1;
						height: 40px;
						top: 5px;
						right: 5px;
						display: flex;
						align-items: center;
						cursor: pointer;
						border-radius: 3px;
						padding: 4px 30px;
						background: #009999;
						&::before {
							content: "";
							position: absolute;
							width: 1px;
							left: -14px;
							background: #AFAFAF;
							height: 23px;
							top: 4px;
							display: none;
						}
						.search-title {
							font-weight: 500;
							font-size: 12px;
							line-height: 15px;
							color: #FFF1ED;
							padding-right: 16px;
						}
						.after-execute {
							display: none;
						}
					}
					.widget-icon {
						top: 17px;
						left: 15px;
						bottom: auto;
            img.for-scm{
              display: block;
            }
					}
					.top-down-suggestion {
						width: 828px;
						height: 50px;
						padding: 10px 195px 10px 40px;
						background: #F8FFFF !important;
						border: 1px solid #009999 !important;
						font-weight: normal;
						font-size: 14px;
						line-height: 17px;
					}
					.chatInputBox {
						width: 828px !important;
						height: 50px !important;
						background: transparent !important;
						border: 1px solid #009999 !important;
						padding: 10px 195px 10px 40px;
						font-weight: normal;
						font-size: 14px;
						line-height: 17px;
						color: #3C4043;
						&::placeholder {
							font-weight: normal;
							font-size: 13px;
							line-height: 16px;
							color: #9AA0A6;
						}
					}
				}
			}
			.live_search_result_box {
				width: 680px;
				background: #F8F9FA;
				border-radius: 0px 0px 8px 8px;
				box-shadow: none;
				top: 50px;
				max-height: calc(100vh - 244px);
				&::before {
					background: rgba(0,0,0,0.5);
					top: 120px;
				}
				.data-container {
					padding: 10px 20px 0px 20px;
				}
			}
			.frequently_searched_box {
				width: 680px;
				background: #F8F9FA;
				border-radius: 0px 0px 8px 8px;
				box-shadow: none;
				top: 50px;
				&::before {
					background: rgba(0,0,0,0.5);
					top: 120px;
				}
			}
		}
		.all-result-container {
			margin-top: 0;
			.full-results-data-container {
				.filters-sec {
					background: #F7FFFF;
					border: 1px solid #A7F0D6;
					box-sizing: border-box;
					border-radius: 8px;
					max-height: calc(100vh - 143px);
					padding: 15px 0px;
					margin-top: 0;
					overflow: hidden;
					width: 190px;
					.filters-inner-content {
						padding: 0 20px;
						border: 0;
						max-height: calc(100vh - 175px);
					}
					.heading-sec {
						padding-bottom: 12px;
						border-bottom: 1px solid #AEDCDC;
						.title-main {
							font-weight: normal;
							font-size: 12px;
							line-height: 15px;
							color: #000000;
						}
						.clear-all {
							font-weight: normal;
							font-size: 10px;
							line-height: 12px;
							color: #5F6368;
						}
					}
					.category-wise-container {
						padding: 14px 0 0px 0;
						margin-bottom: 10px;
						border: 0;
						.more-data {
							display: flex;
							align-items: center;
							font-weight: normal;
							font-size: 10px;
							line-height: 20px;
							color: #009999;
							position: relative;
							padding: 0px 10px 8px 5px;
							img {
								margin-right: 13px;
							}
							.more-count {
								position: absolute;
								right: 0;
								border: 1.5px solid #FFFFFF;
								background: #009999;
								font-weight: normal;
								font-size: 8px;
								line-height: 12px;
								color: #FFFFFF;
								border-radius: 100%;
								padding: 0;
								min-width: 16px;
								min-height: 16px;
								display: flex;
								align-items: center;
								justify-content: center;
							}
						}
					}
				}
				.all-product-details {
					width: calc(100% - 190px);
					padding-left: 15px;
					#top-down-tab-sec {
						padding-right: 10px;
						padding-left: 10px;
						margin-bottom: 15px;
					}
					.tab-sec {
						background: #F8F9FA;
						border-radius: 8px;
						padding: 0;
						width: 100%;
						.tab-name {
							margin-right: 0px;
							align-items: center;
							padding: 10px 14px;
							height: 37px;
							border: 1px solid transparent;
							.tab-title {
								padding-right: 10px;
								min-width: auto;
								font-weight: normal;
								font-size: 12px;
								line-height: 15px;
								color: #000000;
							}
							.tab-count {
								max-width: initial;
								background: #EFF0F1;
								border-radius: 3px;
								height: 18px;
								font-weight: 600;
								font-size: 10px;
								line-height: 12px;
								color: #5F6368;
								display: flex;
								align-items: center;
								padding: 3px 5px;
							}
						}
						.tab-name.active-tab {
							background: #F6FFFF;
							border: 1px solid #A7F0D6;
							box-sizing: border-box;
							border-radius: 8px;
							.tab-title {
								font-weight: 600;
								color: #009999;
							}
							.tab-count {
								background: #009999;
								color: #FFFFFF;
							}
							&::before {
								display: none;
							}
						}
					}
					.filters-added-data {
						display: block;
						padding-top: 10px;
						padding-left: 10px;
						.facets-padding {
							padding: 0;
						}
						.filter-tag-content {
							background: #F8F9FA;
							border: 1px solid #E4E5E7;
							box-sizing: border-box;
							border-radius: 4px;
							padding: 3px 6px;
							display: inline-flex;
							align-items: center;
							margin-right: 5px;
							height: 19px;
							.filter-tag-name {
								font-weight: normal;
								font-size: 10px;
								line-height: 12px;
								color: #000000;
								.close-filter-tag{
									height: 23px;
									img{
										cursor: pointer;
									}
								}
							}
						}
					}
					.content-data-sec {
						padding: 10px 10px 0 10px;
						max-height: calc(100vh - 250px);
					}
				}
			}
		}
	}
	.category-wise-container {
		.heading-title {
			margin-bottom: 12px;
			font-weight: 600;
			font-size: 12px;
			line-height: 15px;
			color: #9AA0A6;
			text-transform: capitalize;
		}
		.kr-sg-checkbox {
			.count {
				position: absolute;
				margin-left: 2px;
				top: 3px;
				right: 0;
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;
				color: #9AA0A6;
			}
		}
		.group-checkbox.filters-content-top-down {
			input {
				margin-bottom: 0;
				height: 18px;
				width: 18px;
				top: 1px;
			}
		}
	}
	.kr-sg-checkbox {
		.checkbox-custom {
			+ {
				.checkbox-custom-label {
					font-weight: normal;
					font-size: 12px;
					line-height: 20px;
					color: #202124;
					padding-left: 0px;
					&::before {
						width: 16px;
						height: 16px;
						border: 1px solid #BDC1C6;
						margin-top: -1px;
						margin-right: 10px;
						position: inherit;
					}
				}
			}
			&:checked {
				+ {
					.checkbox-custom-label {
						font-weight: bold;
						&::before {
							border: 1px solid #009999 !important;
							background-color: #009999;
						}
					}
				}
			}
			&:hover {
				&:not([disabled]) {
					+ {
						.checkbox-custom-label {
							color: #009999;
							&::before {
								border: 1px solid #009999 !important;
							}
						}
					}
				}
			}
		}
	}
	.kr-sg-radiobutton {
		.radio-custom {
			+ {
				.radio-custom-label {
					&::before {
						margin-top: -2px;
						top: 2px;
						border: 1px solid #BDC1C6;
					}
					padding: 2px 0 2px 26px;
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
					color: #202124;
				}
			}
			&:checked {
				+ {
					.radio-custom-label {
						font-weight: bold;
						&::before {
							background-color: #009999;
							border: 1px solid #009999;
						}
					}
				}
			}
			&:hover {
				&:not([disabled]) {
					+ {
						.radio-custom-label {
							color: #009999;
							&::before {
								border: solid 1px #009999;
							}
						}
					}
					&:checked {
						+ {
							.radio-custom-label {
								&::before {
									border: solid 1px #009999;
								}
							}
						}
					}
				}
			}
		}
		.count {
			position: absolute;
			margin-left: 2px;
			top: 2px;
			right: 0;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			color: #9AA0A6;
		}
	}
  .conversation-container {
		top: 0 !important;
		top: 0px;
		.conversations {
			.search-container.conversation {
				#searchChatContainer {
					.messageBubble {
						.userMessage {
							background: #ECFFFF;
							border: 1px solid #009999;
							box-sizing: border-box;
							border-radius: 4px;
							box-shadow: none !important;
							color: #3C4043;
							margin-bottom: 15px;
							padding: 9px 14px;
							span {
								font-weight: normal;
								font-size: 14px;
								line-height: 17px;
								color: #3C4043;
							}
						}
						.botMessage {
							background: #FFFFFF;
							border: 1px solid #E4E5E7;
							box-sizing: border-box;
							border-radius: 8px;
							box-shadow: none;
							padding: 9px 14px;
							font-weight: normal;
							font-size: 14px;
							line-height: 17px;
							color: #161620 !important;
							box-shadow: none;
							span {
								color: #161620 !important;
							}
						}
					}
				}
			}
		}
	}
  .searchAssist-kore-chat-window.search-container.conversation {
    #searchChatContainer {
      .messageBubble {
        .messageBubble-content {
          .botImg {
            display: block !important;
          }
        }
      }
    }
  }
}
.siemens.card-carousel-filters {
	display: none;
}
.siemens-list-template {
	background: #FFFFFF;
	border: 1px solid #E4E5E7;
	box-sizing: border-box;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.08);
	border-radius: 8px;
	padding: 11px 15px;
	margin-bottom: 10px;
	cursor: pointer;
	display: inline-block;
	width: 100%;
	&:hover {
		background: #FFFFFF;
		border: 1px solid #AEDCDC;
		box-sizing: border-box;
		box-shadow: 0px 4px 8px rgba(0,0,0,0.08);
		border-radius: 8px;
		.icon-with-title {
			.name-title {
				color: #009999;
			}
			img.siemens-link-icon {
				content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/Siemenss_demo/externallink.svg);
			}
			.siemens-icon-blue {
				display: none;
			}
			.siemens-icon {
				display: block;
			}
		}
		.author-updates-sec {
			.author-names {
				.author-title {
					color: #3C4043;
				}
				.author_name {
					color: #202124;
				}
			}
			.updates-on {
				.title {
					color: #3C4043;
				}
				.time-updates {
					color: #202124;
				}
			}
		}
	}
	.icon-with-title {
		.siemens-icon-blue {
			display: block;
		}
		.siemens-icon {
			display: none;
		}
		display: flex;
		align-items: flex-start;
		margin-bottom: 10px;
		position: relative;
		.name-title {
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: #07377F;
			padding-left: 8px;
			padding-right: 20px;
		}
		.redirecting-link {
			position: absolute;
			right: 0;
			cursor: pointer;
			top: 3px;
		}
	}
	.info-test-content {
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		color: #202124;
		margin-bottom: 8px;
		word-break: break-word;
	}
	.author-updates-sec {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		.author-names {
			display: flex;
			align-items: center;
			padding-right: 28px;
			.author-title {
				font-weight: 600;
				font-size: 10px;
				line-height: 12px;
				color: #9AA0A6;
			}
			.author_name {
				font-weight: normal;
				font-size: 10px;
				line-height: 12px;
				color: #5F6368;
				padding-left: 8px;
			}
		}
		.updates-on {
			display: flex;
			align-items: center;
			.title {
				font-weight: 600;
				font-size: 10px;
				line-height: 12px;
				color: #9AA0A6;
			}
			.time-updates {
				font-weight: normal;
				font-size: 10px;
				line-height: 12px;
				color: #5F6368;
				padding-left: 8px;
			}
		}
	}
	.button-chips {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 5px;
		.btn-chip {
			box-sizing: border-box;
			border-radius: 4px;
			padding: 4px 10px;
			font-weight: normal;
			font-size: 10px;
			line-height: 12px;
			margin-right: 10px;
			cursor: default;
		}
	}
}
.siemens {
	.searchAssist-kore-chat-window.search-container {
		.buttonTmplContent {
			.buttonTmplContentChild {
				.quickReply {
					border: 1px solid #009999 !important;
					color: #009999 !important;
					background: #FFFFFF !important;
					&:hover {
						border: 1px solid #009999 !important;
						color: #FFFFFF !important;
						background: #009999 !important;
					}
				}
			}
		}
	}
	.skelton-load-img {
		.default-skelton {
			display: none;
		}
		.banking-siemens-skelton {
			display: block;
			position: relative;
		}
	}
}

.sdk-top-down-interface.search-executed.siemens {
	.topdown-search-main-container {
		.search-input-box {
			.search-box-container-data {
				.search-bar {
					.search-btn-arrow {
            padding: 5px;
            width: auto;
            margin: 0;
            background: transparent;
            box-shadow: none;
            right: 10px;
						img.scm-exe {
							display: block !important;
						}
            .search-title {
              display: none;
          }
					}
				}
				.cancel-search {
					right: 55px !important;
				}
			}
		}
	}
}
