

 @keyframes glowKeyFrame {
    0% {
      -webkit-box-shadow: 0px 0px 20px 0px #007FFF;
    }
    50% {
      -webkit-box-shadow: 0px 0px 20px 2px #007FFF;
    }
    100% {
      -webkit-box-shadow: none;
    }
}

.final-results-container {
    .messageBubble {
        .messageBubble-content {
            .botMessage {
                .bot_Img{
                    display: block;
                }
            }
        }
    }

    .finalResults{
        .resultsOfSearch {
            display: flex;
            flex-direction: column;
            .asstFaq{
                position: relative;
                margin-bottom: 5px;
            }
            .asstPage{
                margin-bottom: 16px;
            }   
            .accordion{
                .card{
                    border: 0;
                    border-radius: 0;
                    background: #ffffff;
                    .card-header{
                        border: 0;
                        border-radius: 0;
                        background: #ffffff;
                        padding: 0;
                        .btn-link {
                            font-size: 14px;
                            font-weight: normal;
                            color: #161928;
                            display: block;
                            text-align: left;
                            text-decoration: none;
                            padding-left: 0;
                            .right-arrow{
                                margin-right: 15px;
                                transform: rotate(90deg);
                                margin-left: 1px;
                                opacity: .5;
                                position: relative;
                                top: -1px;
                            }
                            &.collapsed{
                                .right-arrow{
                                    margin-right: 15px;
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                }
            }   
            .external-linkDiv{
                font-size: 14px;
                font-weight: normal;
                color: #161928;
                margin-top: 15px;
                p{
                    margin: 0;
                    position: relative;
                    padding-left: 22px;
                    margin-bottom: 13px;
                }
                .external-link{
                    position: absolute;
                    left: 0px;
                    top: 3px;
                }
            }   
            .resultsButtons{
                .faqBtnContainer{
                    display: block;
                }
                .faq{
                    background: #E7F1FF;
                    border: 1px solid #85B7FE;
                    border-radius: 4px;
                    color: #0D6EFD;
                    max-width: 180px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 28px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    font-size: 12px;
                    font-weight: 600;
                    height: 30px;
                    padding: 0 15px;
                    .credit-card{
                        margin-right: 5px;
                        position: relative;
                        top: 3px;
                        display: none;
                    }
                }
            }
        }
        .search-heads {
            color: #9AA0A6;
            font-weight: 600;
            font-size: 11px;
            margin-bottom: 6px;
            display: block;
            width: 100%;
            width: 100%; 
        }
        .suggestionsResult{
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: solid 1px #e5e8ec;
            .faq{
                font-size: 14px;
                font-weight: normal;
                color: #161928;
                position: relative;
                padding-left: 25px;
                .searchIcon{
                    margin-right: 10px;
                    position: absolute;
                    top: 5px;
                    left: 1px;
                }
            }
        }
        .contactsDetailsfinal{
            display: flex;
            .contactDetails{
                flex: 1;
                .contacts-ksa{
                    color: #161928;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 2;
                    .right-arrow{
                        position: relative;
                        top: 2px;
                        &.email{
                            position: relative;
                            top: 1px;
                        }
                    }
                    .contactTitle{
                        display: inline-block;
                        margin-left: 10px;
                        position: relative;
                        top: 2px;
                    }
                    .contactNum{
                        margin-left: 25px;
                        color: #056dae;
                    }
                }
            }
        }
        .highlightedText {
            background-color: #fefd00;
        }
    }
    .snippet-margin {
        width: 94% !important;
        margin-left: 30px;
    }
    .snippet-template {
        display: inline-block;
        width: 100%;
        border: 1px solid #D7D8D9;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 10px;
        .position-relative {
            position: relative;
        }
        .title {
            .title-text {
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 3px;
                color: #121314;
                padding-right: 50px;
            }
            .title-beta {
                position: absolute;
                top: -9px;
                right: -27px;
                line-height: normal;
                width: 40px;
                height: 39px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .desc-text {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 12px;
            color: #121314;
            a {
                color: #0D6EFD !important;
                word-break: break-word;
                display: inline-block;
            }
        }
        .source-link {
            display: flex;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            margin-bottom: 10px;
            .title {
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
            }
            .source-ext-link {
                display: flex;
                align-items: center;
                margin-left: 10px;
                img {
                    margin-right: 10px;
                }
                a {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    text-decoration-line: underline !important;
                    color: #0D6EFD !important;
                }
            }
        }
        .quick-links {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .quick-item {
                background: #fff;
                border: 1px solid #0D6EFD;
                border-radius: 15px;
                padding: 4px 10px;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #0D6EFD;
                margin: 4px 10px 4px 0px;
                cursor: pointer;
                display: flex;
                align-items: center;
                img {
                    margin-right: 8px;
                }
            }
        }
    }
    
}

.searchAssist-kore-chat-window .finalResults .task-wrp.faq-highlight,
.show-all-results-outer-wrap .finalResults .task-wrp.faq-highlight, 
.search-body-full .faqs-wrp-content.faq-highlight,
.live_search_result_box .task-wrp.faq-highlight,
.all-product-details .task-wrp.faq-highlight{
    border: 1px solid #c6c6cb;
}
.searchAssist-kore-chat-window .finalResults .task-wrp.faq-highlight,
.show-all-results-outer-wrap .task-wrp.faq-highlight,
.search-body-full .faqs-wrp-content.faq-highlight,
.live_search_result_box .task-wrp.faq-highlight,
.all-product-details .task-wrp.faq-highlight{
    animation-name: glowKeyFrame;
    animation-duration: 3s;
}