.searchAssist-kore-chat-window.search-container.conversation #searchChatContainer .final-results-container .messageBubble .messageBubble-content .botMessage .bot_Img img {
    width: 20px;
    height: 20px;
}
.searchAssist-kore-chat-window.search-container.conversation #searchChatContainer .final-results-container .messageBubble .messageBubble-content .botMessage .bot_Img {
    display: block;
    left: -32px;
}