
// Classic List
.search-list-template-no-clickble-classic{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    &.mb-0{
        margin-bottom: 0px;
    }
    .content-info{
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding: 10px 15px;
        margin-bottom: 10px;
        cursor: pointer;
        &.text-center{
            text-align: center;
        }
        .heading-title{
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #202124;
        }
        .desc_text_info{
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #5F6368;
        }
    }
}

// Classic List Group
.search-list-template-no-clickble-classic-group{
    display: inline-block;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    &.mb-0{
        margin-bottom: 0px;
    }
    .content-info{
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding: 10px 15px;
        margin-bottom: 10px;
        cursor: pointer;
        &.text-center{
            text-align: center;
        }
        .heading-title{
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #202124;
        }
        .desc_text_info{
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #5F6368;
        }
    }
}

// Classic List If img
.search-list-template-no-clickble-classic-if-img{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    &.mb-0{
        margin-bottom: 0px;
    }
    .content-info{
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding: 10px 15px;
        margin-bottom: 10px;
        padding-left: 60px;
        position: relative;
        cursor: pointer;
        .img_block{
            position: absolute;
            left: 15px;
            width: 35px;
            height: 35px;
            top: 14px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 3px;
            }
        }
        &.text-center{
            text-align: center;
        }
        .heading-title{
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #202124;
        }
        .desc_text_info{
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #5F6368;
        }
    }
}

// Plain List
.search-list-template-no-clickble-plain{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    &.mb-0{
        margin-bottom: 0px;
    }
    .content-info{
        padding: 10px 0px;
        border-bottom: 1px solid #E4E5E7;
        cursor: pointer;
        &.text-center{
            text-align: center;
        }
        .heading-title{
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #202124;
        }
        .desc_text_info{
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #5F6368;
        }
    }
}

// Plain List If img
.search-list-template-no-clickble-plain-if-img{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    &.mb-0{
        margin-bottom: 0px;
    }
    .content-info{
        padding: 10px 0px;
        border-bottom: 1px solid #E4E5E7;
        position: relative;
        padding-left: 45px;
        cursor: pointer;
        .img_block{
            position: absolute;
            left: 0px;
            width: 35px;
            height: 35px;
            top: 13px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 3px;
            }
        }
        &.text-center{
            text-align: center;
        }
        .heading-title{
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #202124;
        }
        .desc_text_info{
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #5F6368;
        }
    }
}

// Plain List Group
.search-list-template-no-clickble-plain-group{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px 15px;
    &.mb-0{
        margin-bottom: 0px;
    }
    .content-info{
        padding: 10px 0px;
        border-bottom: 1px solid #E4E5E7;
        cursor: pointer;
        &.text-center{
            text-align: center;
        }
        .heading-title{
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #202124;
        }
        .desc_text_info{
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #5F6368;
        }
    }
    .show-more-data{
        margin: 10px 0 5px 0;
    }
}

// Classic List Accordion
.search-list-template-clickble-classic{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    &.mb-0{
        margin-bottom: 0px;
    }
    .accordion-content-info{
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding: 10px 15px;
        margin-bottom: 10px;
        .content-info{
            padding: 0 0 0 16px;
            margin: 0;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                height: 10px;
                width: 10px;
                background-repeat: no-repeat;
                background-image:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNS4xMTM2NyA1QzUuMTEzNjcgNC44NDc2NiA1LjA2MDkzIDQuNzE1ODIgNC45NTU0MyA0LjYwNDQ5TDEuMjI0MjIgMC42NjY5OTJDMS4xMTg3MyAwLjU1NTY2NCAwLjk5Mzc5OCAwLjUgMC44NDk0MzYgMC41QzAuNzA1MDczIDAuNSAwLjU4MDE0NSAwLjU1NTY2NCAwLjQ3NDY0OSAwLjY2Njk5MkMwLjM2OTE1NCAwLjc3ODMyIDAuMzE2NDA2IDAuOTEwMTU2IDAuMzE2NDA2IDEuMDYyNUwwLjMxNjQwNiA4LjkzNzVDMC4zMTY0MDYgOS4wODk4NCAwLjM2OTE1NCA5LjIyMTY4IDAuNDc0NjQ5IDkuMzMzMDFDMC41ODAxNDUgOS40NDQzNCAwLjcwNTA3NCA5LjUgMC44NDk0MzYgOS41QzAuOTkzNzk4IDkuNSAxLjExODczIDkuNDQ0MzQgMS4yMjQyMiA5LjMzMzAxTDQuOTU1NDMgNS4zOTU1MUM1LjA2MDkzIDUuMjg0MTggNS4xMTM2NyA1LjE1MjM0IDUuMTEzNjcgNVoiIGZpbGw9IiNCREMxQzYiLz4KPC9zdmc+Cg==");
                left: 0;
                top: 3px;
                margin: 0;
            }
            &.acc-active{
                &::before{
                    transform:rotate(90deg) !important;
                    top: 6px;
                }
                .desc_text_info{
                    // display: none;
                    white-space: normal;
                }
            }
            .heading-title{
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #202124;
            }
            .desc_text_info{
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #5F6368;
            }
        }
        .panel{
            padding: 0px 16px;
            .inner-content-panel-data{
                .desc-text-info-img{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #5F6368;
                }
            }
        }
    }
}

// Classic List Accordion If Img
.search-list-template-clickble-classic-if-img{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    &.mb-0{
        margin-bottom: 0px;
    }
    .accordion-content-info{
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding: 10px 15px;
        margin-bottom: 10px;
        .content-info{
            padding: 0 0 0 16px;
            margin: 0;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                height: 10px;
                width: 10px;
                background-repeat: no-repeat;
                background-image:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNS4xMTM2NyA1QzUuMTEzNjcgNC44NDc2NiA1LjA2MDkzIDQuNzE1ODIgNC45NTU0MyA0LjYwNDQ5TDEuMjI0MjIgMC42NjY5OTJDMS4xMTg3MyAwLjU1NTY2NCAwLjk5Mzc5OCAwLjUgMC44NDk0MzYgMC41QzAuNzA1MDczIDAuNSAwLjU4MDE0NSAwLjU1NTY2NCAwLjQ3NDY0OSAwLjY2Njk5MkMwLjM2OTE1NCAwLjc3ODMyIDAuMzE2NDA2IDAuOTEwMTU2IDAuMzE2NDA2IDEuMDYyNUwwLjMxNjQwNiA4LjkzNzVDMC4zMTY0MDYgOS4wODk4NCAwLjM2OTE1NCA5LjIyMTY4IDAuNDc0NjQ5IDkuMzMzMDFDMC41ODAxNDUgOS40NDQzNCAwLjcwNTA3NCA5LjUgMC44NDk0MzYgOS41QzAuOTkzNzk4IDkuNSAxLjExODczIDkuNDQ0MzQgMS4yMjQyMiA5LjMzMzAxTDQuOTU1NDMgNS4zOTU1MUM1LjA2MDkzIDUuMjg0MTggNS4xMTM2NyA1LjE1MjM0IDUuMTEzNjcgNVoiIGZpbGw9IiNCREMxQzYiLz4KPC9zdmc+Cg==");
                left: 0;
                top: 3px;
                margin: 0;
            }
            &.acc-active{
                &::before{
                    transform:rotate(90deg) !important;
                    top: 6px;
                }
                .desc_text_info{
                    // display: none;
                }
            }
            .heading-title{
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #202124;
            }
            .desc_text_info{
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #5F6368;
            }
        }
        .panel{
            padding: 0 0px 0 15px;
            .inner-content-panel-data{
                padding: 5px 0;
                display: flex;
                .img_content{
                    width: 132px;
                    height: 132px;
                    flex-shrink: 0;
                    margin-right: 13px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 3px;
                    }
                }
                .desc-text-info-img{
                    width: 100%;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #9AA0A6;
                }
            }
        }
    }
}

// Classic List Accordion Group
.search-list-template-clickble-classic-group{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    &.mb-0{
        margin-bottom: 0px;
    }
    .accordion-content-info{
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding: 10px 15px;
        margin-bottom: 10px;
        .content-info{
            padding: 0 0 0 16px;
            margin: 0;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                height: 10px;
                width: 10px;
                background-repeat: no-repeat;
                background-image:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNS4xMTM2NyA1QzUuMTEzNjcgNC44NDc2NiA1LjA2MDkzIDQuNzE1ODIgNC45NTU0MyA0LjYwNDQ5TDEuMjI0MjIgMC42NjY5OTJDMS4xMTg3MyAwLjU1NTY2NCAwLjk5Mzc5OCAwLjUgMC44NDk0MzYgMC41QzAuNzA1MDczIDAuNSAwLjU4MDE0NSAwLjU1NTY2NCAwLjQ3NDY0OSAwLjY2Njk5MkMwLjM2OTE1NCAwLjc3ODMyIDAuMzE2NDA2IDAuOTEwMTU2IDAuMzE2NDA2IDEuMDYyNUwwLjMxNjQwNiA4LjkzNzVDMC4zMTY0MDYgOS4wODk4NCAwLjM2OTE1NCA5LjIyMTY4IDAuNDc0NjQ5IDkuMzMzMDFDMC41ODAxNDUgOS40NDQzNCAwLjcwNTA3NCA5LjUgMC44NDk0MzYgOS41QzAuOTkzNzk4IDkuNSAxLjExODczIDkuNDQ0MzQgMS4yMjQyMiA5LjMzMzAxTDQuOTU1NDMgNS4zOTU1MUM1LjA2MDkzIDUuMjg0MTggNS4xMTM2NyA1LjE1MjM0IDUuMTEzNjcgNVoiIGZpbGw9IiNCREMxQzYiLz4KPC9zdmc+Cg==");
                left: 0;
                top: 3px;
                margin: 0;
            }
            &.acc-active{
                &::before{
                    transform:rotate(90deg) !important;
                    top: 6px;
                }
                .desc_text_info{
                    // display: none;
                    white-space: normal;
                }
            }
            .heading-title{
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #202124;
            }
            .desc_text_info{
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #5F6368;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .panel{
            padding: 0px 16px;
            .inner-content-panel-data{
                .desc-text-info-img{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #5F6368;
                }
            }
            
        }
    }
}

// Plain List Accordion
.search-list-template-clickble-plain{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    &.mb-0{
        margin-bottom: 0px;
    }
    .accordion-content-info{
        padding: 10px 0px;
        border-bottom: 1px solid #E4E5E7;
        .content-info{
            padding: 0 0 0 16px;
            margin: 0;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                height: 10px;
                width: 10px;
                background-repeat: no-repeat;
                background-image:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNS4xMTM2NyA1QzUuMTEzNjcgNC44NDc2NiA1LjA2MDkzIDQuNzE1ODIgNC45NTU0MyA0LjYwNDQ5TDEuMjI0MjIgMC42NjY5OTJDMS4xMTg3MyAwLjU1NTY2NCAwLjk5Mzc5OCAwLjUgMC44NDk0MzYgMC41QzAuNzA1MDczIDAuNSAwLjU4MDE0NSAwLjU1NTY2NCAwLjQ3NDY0OSAwLjY2Njk5MkMwLjM2OTE1NCAwLjc3ODMyIDAuMzE2NDA2IDAuOTEwMTU2IDAuMzE2NDA2IDEuMDYyNUwwLjMxNjQwNiA4LjkzNzVDMC4zMTY0MDYgOS4wODk4NCAwLjM2OTE1NCA5LjIyMTY4IDAuNDc0NjQ5IDkuMzMzMDFDMC41ODAxNDUgOS40NDQzNCAwLjcwNTA3NCA5LjUgMC44NDk0MzYgOS41QzAuOTkzNzk4IDkuNSAxLjExODczIDkuNDQ0MzQgMS4yMjQyMiA5LjMzMzAxTDQuOTU1NDMgNS4zOTU1MUM1LjA2MDkzIDUuMjg0MTggNS4xMTM2NyA1LjE1MjM0IDUuMTEzNjcgNVoiIGZpbGw9IiNCREMxQzYiLz4KPC9zdmc+Cg==");
                left: 0;
                top: 3px;
                margin: 0;
            }
            &.acc-active{
                &::before{
                    transform:rotate(90deg) !important;
                    top: 6px;
                }
                .desc_text_info{
                    // display: none;
                    white-space: normal;
                }
            }
            .heading-title{
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #202124;
            }
            .desc_text_info{
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #5F6368;
            }
        }
        .panel{
            padding: 0 17px;
           .inner-content-panel-data{
            .desc-text-info-img{
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #5F6368;
            }
           }
        }
    }
}

// Plain List Accordion If Img
.search-list-template-clickble-plain-if-img{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    &.mb-0{
        margin-bottom: 0px;
    }
    .accordion-content-info{
        padding: 10px 0px;
        border-bottom: 1px solid #E4E5E7;
        .content-info{
            padding: 0 0 0 16px;
            margin: 0;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                height: 10px;
                width: 10px;
                background-repeat: no-repeat;
                background-image:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNS4xMTM2NyA1QzUuMTEzNjcgNC44NDc2NiA1LjA2MDkzIDQuNzE1ODIgNC45NTU0MyA0LjYwNDQ5TDEuMjI0MjIgMC42NjY5OTJDMS4xMTg3MyAwLjU1NTY2NCAwLjk5Mzc5OCAwLjUgMC44NDk0MzYgMC41QzAuNzA1MDczIDAuNSAwLjU4MDE0NSAwLjU1NTY2NCAwLjQ3NDY0OSAwLjY2Njk5MkMwLjM2OTE1NCAwLjc3ODMyIDAuMzE2NDA2IDAuOTEwMTU2IDAuMzE2NDA2IDEuMDYyNUwwLjMxNjQwNiA4LjkzNzVDMC4zMTY0MDYgOS4wODk4NCAwLjM2OTE1NCA5LjIyMTY4IDAuNDc0NjQ5IDkuMzMzMDFDMC41ODAxNDUgOS40NDQzNCAwLjcwNTA3NCA5LjUgMC44NDk0MzYgOS41QzAuOTkzNzk4IDkuNSAxLjExODczIDkuNDQ0MzQgMS4yMjQyMiA5LjMzMzAxTDQuOTU1NDMgNS4zOTU1MUM1LjA2MDkzIDUuMjg0MTggNS4xMTM2NyA1LjE1MjM0IDUuMTEzNjcgNVoiIGZpbGw9IiNCREMxQzYiLz4KPC9zdmc+Cg==");
                left: 0;
                top: 3px;
                margin: 0;
            }
            &.acc-active{
                &::before{
                    transform:rotate(90deg) !important;
                    top: 6px;
                }
                .desc_text_info{
                    // display: none;
                }
            }
            .heading-title{
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #202124;
            }
            .desc_text_info{
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #5F6368;
            }
        }
        .panel{
            padding: 0 0px 0 15px;
            .inner-content-panel-data{
                padding: 5px 0;
                display: flex;
                .img_content{
                    width: 132px;
                    height: 132px;
                    flex-shrink: 0;
                    margin-right: 13px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 3px;
                    }
                }
                .desc-text-info-img{
                    width: 100%;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #9AA0A6;
                }
            }
        }
    }
}

// Plain List Accordion Group
.search-list-template-clickble-plain-group{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 6px 15px;
    // &:last-child{
    //     .accordion-content-info{
    //         border: 0;
    //     }
    // }
    &.mb-0{
        margin-bottom: 0px;
    }
    .accordion-content-info{
        padding: 10px 0px;
        border-bottom: 1px solid #E4E5E7;
        .content-info{
            padding: 0 0 0 16px;
            margin: 0;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                height: 10px;
                width: 10px;
                background-repeat: no-repeat;
                background-image:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNS4xMTM2NyA1QzUuMTEzNjcgNC44NDc2NiA1LjA2MDkzIDQuNzE1ODIgNC45NTU0MyA0LjYwNDQ5TDEuMjI0MjIgMC42NjY5OTJDMS4xMTg3MyAwLjU1NTY2NCAwLjk5Mzc5OCAwLjUgMC44NDk0MzYgMC41QzAuNzA1MDczIDAuNSAwLjU4MDE0NSAwLjU1NTY2NCAwLjQ3NDY0OSAwLjY2Njk5MkMwLjM2OTE1NCAwLjc3ODMyIDAuMzE2NDA2IDAuOTEwMTU2IDAuMzE2NDA2IDEuMDYyNUwwLjMxNjQwNiA4LjkzNzVDMC4zMTY0MDYgOS4wODk4NCAwLjM2OTE1NCA5LjIyMTY4IDAuNDc0NjQ5IDkuMzMzMDFDMC41ODAxNDUgOS40NDQzNCAwLjcwNTA3NCA5LjUgMC44NDk0MzYgOS41QzAuOTkzNzk4IDkuNSAxLjExODczIDkuNDQ0MzQgMS4yMjQyMiA5LjMzMzAxTDQuOTU1NDMgNS4zOTU1MUM1LjA2MDkzIDUuMjg0MTggNS4xMTM2NyA1LjE1MjM0IDUuMTEzNjcgNVoiIGZpbGw9IiNCREMxQzYiLz4KPC9zdmc+Cg==");
                left: 0;
                top: 3px;
                margin: 0;
            }
            &.acc-active{
                &::before{
                    transform:rotate(90deg) !important;
                    top: 6px;
                }
                .desc_text_info{
                    // display: none;
                    white-space: normal;
                }
            }
            .heading-title{
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #202124;
            }
            .desc_text_info{
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #5F6368;
            }
        }
        .panel{
            padding: 0px 16px;
            .inner-content-panel-data{
                .desc-text-info-img{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #5F6368;
                }
            }
        }
    }
    .show-more-data{
        margin: 10px 0 5px 0;
    }
}



.title-list-heading{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #202124;
    margin-bottom: 8px;
}

.text_overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.clamp-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.show-more-data{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    span{
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #0d6efd;
    }
    img{
        margin-left: 8px;
    }
}
.four-line-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    margin-bottom: 5px;
    max-height: 64px;
}
